

<h1>Moja lista rzeczy do zrobienia</h1>
<span class="formbutton"><%= link_to 'Dodaj nowe zadanie', new_page_path %></span>

  <div id="content">
    <% @todos.each do |todo| %>
      <div class="item">
        <div class="item-content">
          <p class="item-title"><%= todo.name %></p>
          <p class="item-desc"><%= todo.description %></p>
          <span class="formbutton"><%= link_to 'Wyświetl', todo %></span>
          <span class="formbutton"><%= link_to 'Edytuj', edit_todo_path(todo) %></span>
          <span class="formbutton"><%= link_to 'Usuń', todo, method: :delete, data: { confirm: 'Jesteś pewien?' } %></span>
        </div>
      </div>
    <% end %>
  </div>
<br>
<script>
  $(function(){
    
    var $container = $('#content');
    
    $container.isotope({
      animationEngine : 'jquery',
      itemSelector: '.item'
    });

    
  });
</script>
