

<h1>Moja lista rzeczy do zrobienia</h1>

  <div id="content">
    <% @todos.each do |todo| %>
      <div class="item">
        <div class="item-content">
          <p class="item-title"><%= todo.name %></p>
          <p class="item-desc"><%= todo.description %></p>
          <span><%= link_to 'Show', todo %></span>
          <span><%= link_to 'Edit', edit_todo_path(todo) %></span>
          <span><%= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' } %></span>
        </div>
      </div>
    <% end %>
  </div>
<br>

<%= link_to 'New Todo', new_todo_path %>

  <script>
    $(function(){
      
      var $container = $('#content');
      
      $container.isotope({
        animationEngine : 'jquery',
        itemSelector: '.item'
      });

      
    });

  </script>
