<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @todo.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @todo.description %>
</p>
<p>


<%= image_tag @todo.image %>


</p>

<%= link_to 'Edit', edit_todo_path(@todo) %> |
<%= link_to 'Back', pages_path %>
